<div class="form-global clearfix">
    <div class="label label_big"><label for="val">Withdraw amount:</label></div>
        <div class="input input_big">
            {{info.amount}}
        </div>

    <div class="label label_big"><label for="beneficiary_name">Beneficiary Name:</label></div>
    <div class="input input_big">
        {{info.beneficiary_name}}
    </div>
    <div class="label label_big"><label for="bank_code">Bank Code:</label></div>
    <div class="input input_big">
        {{info.bank_code}}
    </div>
    <div class="label label_big"><label for="bank_branch_code">Bank Branch Code:</label></div>
    <div class="input input_big">
        {{info.bank_branch_code}}
    </div>
    <div class="label label_big"><label for="bank_account_number">Bank Account Number:</label></div>
    <div class="input input_big">
        {{info.bank_account_number}}
    </div>
    <div class="label label_big"><label for="bank_name">Bank Name:</label></div>
    <div class="input input_big">
        {{info.bank_name}}
    </div>
    <div class="label label_big"><label for="bank_address">Bank Address:</label></div>
    <div class="input input_big">
        {{info.bank_address}}
    </div>
</div>
