{% extends app.ajax ? "layouts/ajax.twig" :  "layouts/layout.twig" %}
{% import "/forms/forms.twig" as forms %}

{% block page_title %}Recent deals :: DailyDeals{% endblock %}
{% block js %}
    <script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="/js/function.js"></script>
{% endblock js %}
    
{% block main_menu %}
<div class="main_menu_container">
    <ul class="main_menu">
        <li><a href="/">Today's Deal</a></li>
        <li><a href="/all-deals">All Deals</a></li>
        <li><a href="/recent-deals" class="active">Recent Deals</a></li>
        <li><a href="/charities">Charities</a></li>
				<li><a href="/how-its-working" class="white-button">How Does It Work?</a></li>
				{% if app.shopCart.product_id %}<li class="h_basket"><a href="{{router.url_for('@paymentShopCart')}}" class="basket">Shopcart</a></li>{% endif %}
    </ul>
</div>
{% endblock main_menu %}

{% block content_page %}
	<div style="padding: 0px 14px;">
	{% set i = 0 %}
		{% for product in products %}
			{% set i = i + 1 %}
			{% include 'inc/productList.twig' %}
			{% if i%2 != 0 %}
			<div class="border-vertical"></div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock content_page %}
    
{% block right_side %}
                <a title="Help" style="font-size: 11px" class="help-link" href="#">help</a><div class="inv help-message">{{helpObj.getHelp(13).content|raw}}</div>
<br /><br />
    <div class="search_container">
			<form name="frmSearch" class="search-form" method="get" action="/search" enctype="application/x-www-form-urlencoded">
				{{ forms.input('term', form.values.term) }}
				<input class="search_button" type="submit" value="Search" />
			</form>
		</div>
		<div class="right-box-top">
        <div style="color:#fff;font-size: 16px">Other deals</div>
    </div>
    <div class="right-box-content">
        <div>
            <ul>
            {% for product in other %}
                <li style="padding:5px;border-bottom:1px solid #cacaca">
                <div class="clearfix">
                    <a href="/{{product.User.username}}/{{product.slug}}.html"><img src="/images/site/price_tag_view.png" alt="Price_tag_view" /></a>
                    <a href="/{{product.User.username}}/{{product.slug}}.html">{{product.name}}</a>
                    {% if product.sold > 0 %}<div style="padding-left:20px;padding-top:10px;line-height:20px;height:20px"><img width="17" height="18" title="" src="/images/site/check_mark.png" alt="" /> {{product.sold}} bought</div>{% endif %}
                </div>
                </li>
            {% endfor %}
            </ul>
                &nbsp;
        </div>
    </div>
    <div class="right-box-bottom">&nbsp;</div>
    <div class="right-box-top">
        <div style="color:#fff;font-size: 16px">Watch Us</div>
    </div>
    <div class="right-box-content">
        <div style="text-align:center">
            <a href="https://www.youtube.com/watch?v=pMCPHVjKQdE" rel="prettyPhoto" title=""><img src="/images/default.jpg" alt="WinMaWeb" width="240" /></a>
        </div></div>
    <div class="right-box-bottom">&nbsp;</div>
{% endblock right_side %}