{% extends app.ajax ? "layouts/ajax.twig" :  "layouts/layout.twig" %}

{% block css %}
    {% if not app.ajax %}
        {% include "myaccount/css.twig" %}
    {% endif %}
{% endblock css %}
{% block js %}
    {% if not app.ajax %}
        {% include "myaccount/js.twig" %}
    {% endif %}
{% endblock js %}

{% block content_page %}
    <h1>Cash in Vouchers</h1>
    <div class="ma_top"></div>
    <div class="ma_content">
			{% import "/forms/forms.twig" as forms %}
					{% if userObj.getUser().get('is_do') == 1 %}
						<br /><br />
						<form enctype="application/x-www-form-urlencoded" action="{{router.url_for('@myAccountCashInVouchers')}}" method="post">
								<div class="form-global clearfix">
								<div class="label"><label for="coupon_code">Voucher Code:</label></div>
								<div class="input input_big">
								{{ forms.input('coupon_code', form.values.coupon_code) }}
								{{ forms.errors(form.errors.coupon_code) }}
								</div>
								</div>
								<div class="form-global clearfix">
										<div class="label"><label>&nbsp;</label></div>
										<div class="left"><input type="submit" class="g-button g-button-submit" value="Submit" /></div>
								</div>
						</form>
					{% endif %}
          <a href="{{router.url_for('@myAccountCashInVouchers?format=csv')}}" class="g-button g-button-share">Download CSV</a>
					<br/><br/>
					<ul class="pagination clearfix">{{ pagination|raw }}</ul>
            <div class="yui3-g" style="font-weight:bold;font-size:16px;border-bottom:1px solid #3079ed">
                <div class="yui3-u" style="width:80px;">Created</div>
                <div class="yui3-u" style="width:80px;">Expires</div>
                <div class="yui3-u" style="width:100px;">Product</div>
                <div class="yui3-u" style="width:80px;text-align:center">Buyer</div>
                <div class="yui3-u" style="width:60px;">Cost</div>
                <div class="yui3-u" style="width:60px;">Your Share</div>
                <div class="yui3-u" style="width:140px;">Actions</div>
            </div>
            {% for transaction in transactions %}
            <div class="yui3-g" style="padding:5px 0;margin-bottom:2px;border-bottom:1px solid #3079ed">
                <div class="yui3-u" style="width:80px;">{{transaction.created_at}}</div>
                <div class="yui3-u" style="width:80px;">{{transaction.expire_at}}</div>
                <div class="yui3-u" style="width:100px;">{% if transaction.name %}{{transaction.name}}{% else %} - {% endif %}</div>
                <div class="yui3-u" style="width:80px;text-align:center">{{transaction.Transaction.Sender.first_name}} {{transaction.Transaction.Sender.last_name}}{% if transaction.Friend %} (<strong>For friend:</strong> {{transaction.Friend.first_name}} {{transaction.Friend.last_name}}){% endif %}</div>
                <div class="yui3-u" style="width:60px;"><strong>{{transaction.price|currency}}</strong></div>
                <div class="yui3-u" style="width:60px;"><strong>{{transaction.merchant_share.full_payment|currency}}</strong></div>
                <div class="yui3-u" style="width:140px;">
                    <a href="{{router.url_for('@myAccountCouponDetails?coupon_id='~transaction.id)}}" class="g-button {% if transaction.friend == 0 %}g-button-share{% else %}g-button-submit{% endif %} modal-normal" title="Voucher Details"  style="padding:2px;height:15px;line-height:15px;">{% if transaction.friend == 0 %}Voucher{% else %}Gift Voucher{% endif %}</a>
                    <a href="{{router.url_for('@myAccountCouponTransactionDetails?trans_id='~transaction.transaction_id)}}" class="g-button g-button-share modal-normal" title="Transaction Details"  style="padding:2px;height:15px;line-height:15px;">Transaction</a>
                </div>
            </div>
            {% endfor %}
            <ul class="pagination clearfix">{{ pagination|raw }}</ul>
						</div>
    <div class="ma_bottom"></div>
{% endblock content_page %}

{% block right_side %}
    {% if not app.ajax %}
        {% set ma_menu = 'cashInVouchers' %}
        {% include "myaccount/menu.twig" %}
    {% endif %}
{% endblock right_side %}