{% extends app.ajax ? "layouts/ajax.twig" :  "layouts/layout.twig" %}
{% import "/forms/forms.twig" as forms %}

{% block css %}
    {% if not app.ajax %}
        {% include "myaccount/css.twig" %}
    {% endif %}
{% endblock css %}
{% block js %}
    {% if not app.ajax %}
        {% include "myaccount/js.twig" %}
    {% endif %}
{% endblock js %}
{% block content_page %}
    <h1>Edit Account</h1>
    <div class="ma_top"></div>
    <div class="ma_content">
        <div class="info-blue">
            <p>In the Edit Account Section you may change your personal information. 
                <br />
                Please Note:  This information is never visible to other members.</p>
        </div><br /><br />
        {% if form.errors %}
            <br /><div class="error_box"><strong>There were errors - please verify all fields for errors</strong></div>
        {% endif %}
        {% if form.success %}
            <div class="infotip"><strong>Success</strong><br /><br />Details were updated successfully</div>
        {% endif %}
        <form enctype="application/x-www-form-urlencoded" action="/my-account/edit-account" method="post">
            <div class="form-global clearfix">
							<div class="label"><label for="is_private">Make Private</label></div>
							<div class="input input_big">
									<input type="checkbox" name="is_private" id="is_private" style="width: 20px; margin-top: 5px;" {% if app.user.is_private %} checked {% endif %} value="1" />
									
									</div>
                <div class="label"><label for="first_name">First Name:</label></div>
                <div class="input input_big">
                    {{ forms.input('first_name', form.values.first_name) }}
                    {{ forms.errors(form.errors.first_name) }}
                </div>
                <div class="label"><label for="last_name">Last Name:</label></div>
                <div class="input input_big">
                    {{ forms.input('last_name', form.values.last_name) }}
                    {{ forms.errors(form.errors.last_name) }}
                </div>
                <div class="label"><label for="phone">Phone:</label></div>
                <div class="input input_big">
                    {{ forms.input('phone', form.values.phone) }}
                    {{ forms.errors(form.errors.phone) }}
                </div>
                <div class="label"><label for="email">E-mail:</label></div>
                <div class="input input_big">
                    {{ forms.input('email', form.values.email) }}
                    {{ forms.errors(form.errors.email) }}
                </div>
								<div class="label"><label for="gender">Gender:</label></div>
								<div class="input input_big">
                    {{ forms.select('gender', form.gender.options, form.values.gender) }}
                    {{ forms.errors(form.errors.gender) }}
                </div>
								<div class="label"><label for="age">Age:</label></div>
								<div class="input input_big">
                    {#{ forms.input('age', form.values.age) }#}
										{{ forms.select('age', form.age.options, form.values.age) }}
                    {{ forms.errors(form.errors.age) }}
                </div>
            </div>
            <div class="page_subtitle_wrapper clearfix">
                <span class="page_subtitle_two">Address</span>
            </div>
            <div class="form-global clearfix">
                <div class="label"><label for="address">Address:</label></div>
                <div class="input input_big">
                    {{ forms.input('address', form.values.address) }}
                    {{ forms.errors(form.errors.address) }}
                </div>
                <div class="label"><label for="city">City:</label></div>
                <div class="input input_big">
                    {{ forms.input('city', form.values.city) }}
                    {{ forms.errors(form.errors.city) }}
                </div>
                <div class="label"><label for="county">Province/County:</label></div>
                <div class="input input_big">
                    {{ forms.input('county', form.values.county) }}
                    {{ forms.errors(form.errors.county) }}
                </div>
                <div class="label"><label for="postcode">Postal Code:</label></div>
                <div class="input input_big">
                    {{ forms.input('postcode', form.values.postcode) }}
                    {{ forms.errors(form.errors.postcode) }}
                </div>
                <div class="label"><label for="country">Country:</label></div>
                <div class="input input_big">
                    {{ forms.select('country', form.countries.options, form.values.country) }}
                    {{ forms.errors(form.errors.country) }}
                </div>
            </div>
            <div class="page_subtitle_wrapper clearfix">
                <span class="page_subtitle_two">Bank Details</span>
            </div>
            <div class="form-global clearfix">
                <div class="label"><label for="beneficiary_name">Beneficiary Name:</label></div>
                <div class="input input_big">
                    {{ forms.input('beneficiary_name', form.values.beneficiary_name) }}
                    {{ forms.errors(form.errors.beneficiary_name) }}
                </div>
                <div class="label"><label for="bank_code">Bank Code:</label></div>
                <div class="input input_big">
                    {{ forms.input('bank_code', form.values.bank_code) }}
                    {{ forms.errors(form.errors.bank_code) }}
                </div>
                <div class="label"><label for="bank_branch_code">Bank Branch Code:</label></div>
                <div class="input input_big">
                    {{ forms.input('bank_branch_code', form.values.bank_branch_code) }}
                    {{ forms.errors(form.errors.bank_branch_code) }}
                </div>
                <div class="label"><label for="bank_account_number">Bank Account Number:</label></div>
                <div class="input input_big">
                    {{ forms.input('bank_account_number', form.values.bank_account_number) }}
                    {{ forms.errors(form.errors.bank_account_number) }}
                </div>
                <div class="label"><label for="bank_name">Bank Name:</label></div>
                <div class="input input_big">
                    {{ forms.select('bank_name', form.kkt.options, form.values.bank_name) }}
                    {{ forms.errors(form.errors.bank_name) }}
                </div>
                <div class="label"><label for="bank_address">Bank Address:</label></div>
                <div class="input input_big">
                    {{ forms.input('bank_address', form.values.bank_address) }}
                    {{ forms.errors(form.errors.bank_address) }}
                </div>
				{# the payza email field will only be visible to merchants #}
				{% if userObj.hasRole('SHOP') %}
				<div class="label"><label for="payza_email">Payza Email:</label></div>
				<div class="input input_big">
					{{ forms.input('payza_email', form.values.payza_email) }}
					{{ forms.errors(form.errors.payza_email) }}
				</div>
				{% endif %}
                <div class="label"><label>&nbsp;</label></div>
                <div class="left"><input type="submit" class="g-button g-button-submit ajax-submit" value="Change" /></div>
            </div>
        </form>
    </div>
    <div class="ma_bottom"></div>
{% endblock content_page %}

{% block right_side %}
    {% if not app.ajax %}
        {% set ma_menu = 'editAccount' %}
        {% include "myaccount/menu.twig" %}
    {% endif %}
{% endblock right_side %}