{% extends app.ajax ? "layouts/ajax.twig" :  "layouts/layout.twig" %}
{% import "/forms/forms.twig" as forms %}

{% block page_title %}MyFriends :: DailyDeals{% endblock %}

{% block css %}
	{% if not app.ajax %}
		{% include "myaccount/css.twig" %}
	{% endif %}
{% endblock css %}
{% block js %}
	{% if not app.ajax %}
		{% include "myaccount/js.twig" %}
	{% endif %}
{% endblock js %}

{% block content_page %}
	<h1>My Friends</h1>
	<div class="ma_top"></div>
	<div class="ma_content">
		<a href="{{router.url_for('@myAccountMyFriends')}}" class="g-button g-button-submit ajax-link" style="min-width:10px;">Invite Friends</a>
		<a href="{{router.url_for('@myAccountListFriendsAction')}}" class="g-button ajax-link" style="min-width:10px;">Friends List</a>
		<a href="{{router.url_for('@myAccountListPendingFriends')}}" class="g-button ajax-link" style="min-width:10px;">Pending Friends</a>
		<a href="{{router.url_for('@myAccountMyFriendshipRequests')}}" class="g-button ajax-link" style="min-width:10px;">My Frienship Requests</a>
		<br />
		<br />
		<div class="info-blue">
			<p>
				In the My Friends section you can invite, view the friendship invites other users sent to you, view your pending requests and view your entire friends list.
			</p>
			{% if message %}
				<div class="error_box">
                    {{ message }}
                </div>
			{% endif %}
		</div>
		<br /><br />
		{% if form.errors %}
		    <div class="error_box"><strong>There were errors - please verify all fields for errors</strong></div>
		    {% for error in form.errors %}
		    	<div class="error_box"><strong>{{ error }}</strong></div>
		    {% endfor %}
		{% endif %}
		{% if form.success %}
		    <div class="infotip"><strong>Your friendship invitation was sent. He will accept or reject from his panel.</strong></div>
		{% endif %}
		<form enctype="application/x-www-form-urlencoded" action="{{router.url_for('@myAccountMyFriends')}}" method="post">
			<div class="form-global clearfix">
				<div class="label"><label for="users">Username:</label></div>
				<div class="input input_big">
					{{ forms.input('users', form.values.users) }}
					{{ forms.errors(form.errors.users) }}
				</div>
				<div class="form-global clearfix">
					<div class="label"><label>&nbsp;</label></div>
					<div class="left"><input type="submit" class="g-button g-button-submit" value="Invite Friend" /></div>
				</div>
			</div>
		</form>
       <br />
       <br />
       <div class="clearfix"></div>
	</div>
	<div class="ma_bottom"></div>
	<script type="text/javascript">
		$('#users').autocomplete("/my-account/autocomplete-user");
	</script>
	{% endblock content_page %}
{% block right_side %}
	{% if not app.ajax %}
		{% set ma_menu = 'myFriends' %}
		{% include "myaccount/menu.twig" %}
	{% endif %}
{% endblock right_side %}