{% extends app.ajax ? "layouts/ajax.twig" :  "layouts/layout.twig" %}

{% block css %}
    {% if not app.ajax %}
        {% include "myaccount/css.twig" %}
    {% endif %}
{% endblock css %}
{% block js %}
    {% if not app.ajax %}
        {% include "myaccount/js.twig" %}
    {% endif %}
{% endblock js %}

{% block content_page %}
    <h1>Build My Network <a title="Help" style="font-size: 11px" class="help-link" href="#">help</a><div class="inv help-message">{{helpObj.getHelp(6).content|raw}}</div></h1>
    <div class="ma_top"></div>
    <div class="ma_content">
        <a href="/my-account/my-referral-id" class="g-button g-button-share ajax-link">My Referral ID</a> <a href="/my-account/my-referral-id/send-emails" class="g-button ajax-link">Send E-mails</a> <a href="/my-account/my-referral-id/sent-invitations" class="g-button ajax-link">Sent Invitations</a> <a href="/my-account/my-referral-id/accepted-invitations" class="g-button ajax-link">Accepted Invitations</a>
        <br /><br /><br />
        Your referral id is: <span class="strong">{{app.user.ref_id}}</span>
        <br /><br />
        You may give your Referral ID to prospective WinMaWeb members (your friends, family, colleagues, neighbors, etc.).  They will need your Referral ID when they register. (new members may not join unless they provide a Referral ID from an existing member!)
        <br /><br />You may also copy and paste the link below.  If a new member follows it then your Referral ID will automatically be embedded in their registration.<br /><br />
        <strong>https://www.winmaweb.com/request-membership?referral_id={{app.user.ref_id}}</strong>
        <br /><br />
        You can also share the link: 
        <!-- AddThis Button BEGIN -->
        <a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?pco=tbxnj-1.0&amp;url=http%3A%2F%2Fwww.winmaweb.com%2Frequest-membership%3Freferral_id%3D{{app.user.ref_id}}&amp;image=http%3A%2F%2Fwww.winmaweb.com%2images%2site%2header-logo-box2.png&amp;pubid=xa-4f06ba196745fa46" target="_blank" ><img src="https://cache.addthis.com/icons/v1/thumbs/facebook.gif" border="0" alt="Facebook" /></a>
        <a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?pco=tbxnj-1.0&amp;url=http%3A%2F%2Fwww.winmaweb.com%2Frequest-membership%3Freferral_id%3D{{app.user.ref_id}}&amp;pubid=xa-4f06ba196745fa46" target="_blank" ><img src="https://cache.addthis.com/icons/v1/thumbs/twitter.gif" border="0" alt="Twitter" /></a>
        <a href="https://www.addthis.com/bookmark.php?source=tbxnj-1.0&amp;=250&amp;pubid=xa-4f06ba196745fa46&amp;url=http%3A%2F%2Fwww.winmaweb.com%2Frequest-membership%3Freferral_id%3D{{app.user.ref_id}} " target="_blank"  ><img src="https://cache.addthis.com/icons/v1/thumbs/more.gif" border="0" alt="More..." /></a>
        <!-- AddThis Button END -->
        
    </div>
    <div class="ma_bottom"></div>
{% endblock content_page %}

{% block right_side %}
    {% if not app.ajax %}
        {% set ma_menu = 'ref_id' %}
        {% include "myaccount/menu.twig" %}
    {% endif %}
{% endblock right_side %}