{% extends imgajax ? "layouts/ajax.twig" :  "layouts/layout.twig" %}
{% import "/forms/forms.twig" as forms %}

{% block content_page %}
{% if form.errors %}
    <div class="error_box"><strong>There were errors - please verify all fields for errors</strong></div>
{% endif %}
{% if form.success %}
    <div class="infotip"><strong>Success</strong><br /><br />Product added successfully</div>
{% endif %}
{#<script type="text/javascript" src="/js/jquery-pack.js"></script>#}
<script type="text/javascript">

</script>
{#<div id="upload_status" style="font-size:12px; width:80%; margin:10px; padding:5px; display:none; border:1px #999 dotted; background:#eee;"></div>
	<p><a id="upload_link" style="background:#39f; font-size: 24px; color: white;" href="#">Click here to upload a photo</a></p>
	<span id="loader" style="display:none;"><img src="/loader.gif" alt="Loading..."/></span> <span id="progress"></span>
	<br />
	<div id="uploaded_image"></div>
	<div id="thumbnail_form" style="display:none;">
		<form name="form" action="" method="post">
			<input type="hidden" name="x1" value="" id="x1" />
			<input type="hidden" name="y1" value="" id="y1" />
			<input type="hidden" name="x2" value="" id="x2" />
			<input type="hidden" name="y2" value="" id="y2" />
			<input type="hidden" name="w" value="" id="w" />
			<input type="hidden" name="h" value="" id="h" />
			<input type="submit" name="save_thumb" value="Save Thumbnail" id="save_thumb" />
		</form>
	</div>#}
<form enctype="application/x-www-form-urlencoded" action="{{router.url_for('@myProductsGallery?id='~product.id)}}" method="post">
    <div class="form-global clearfix">
        <input type='hidden' name='isajaxrequest' id='isajaxrequest' value='0' />
        <div class="label"><label for="photo">Photo:</label></div>
        <div class="input input_big">
            <input name="photo" type="file" id="photo" />
            {{ forms.errors(form.errors.photo) }}
        </div>
    </div>
    <div class="form-global clearfix">
        <div class="label"><label>&nbsp;</label></div>
        <div class="left"><input type="submit" class="g-button g-button-submit modal-submit-product" value="Add" /></div>
    </div>
</form>
<br />
<div class="info-blue">
    <p>Image with red border is the main image, click on "Set as main" to select another main image.</p>
</div>
<div class="clearfix">
{% for image in product.ProductMedia %}
    <div style="width:120px;height:90px;margin:10px;" class="left">
        <img src="{{image.dir}}/thumb120x67/{{image.file_name}}_{{image.id}}.{{image.ext}}" width="120" height="67" style="border:2px solid {% if image.main == 1 %}red{% else %}#cacaca{% endif %};padding:1px;" />
        <a href="{{router.url_for('@myProductsGallery?id='~product.id~'&ac=crop&pic_id='~image.id)}}" class="modal-crop-image" title="Image Crop">Crop</a> | <a href="{{router.url_for('@myProductsGallery?id='~product.id~'&ac=main&pic_id='~image.id)}}" class="modal-ajax-link">Set as main</a> | <a href="{{router.url_for('@myProductsGallery?id='~product.id~'&ac=delete&pic_id='~image.id)}}" class="modal-ajax-link">Delete</a>
    </div>
{% else %}
        No image
{% endfor %}
</div>
{% endblock content_page %}