{% extends imgajax ? "layouts/ajax.twig" :  "layouts/layout.twig" %}
{% import "/forms/forms.twig" as forms %}

{% block content %}
{% if form.errors %}
    <div class="error_box"><strong>There were errors - please verify all fields for errors</strong></div>
{% endif %}
{% if form.success %}
    <div class="infotip"><strong>Success</strong><br /><br />Product added successfully</div>
{% endif %}
<form enctype="application/x-www-form-urlencoded" rel="{{router.url_for('@manageUsersActions?id='~userId~'&tab=products&page='~page~'')}}" action="{{router.url_for('@manageUsersActions?id='~userId~'&tab=products&prod_id='~product.id~'&ac=gallery&page='~page~'')}}" method="post">
    <div class="form-global clearfix">
        <input type='hidden' name='isajaxrequest' id='isajaxrequest' value='0' />
        <div class="label"><label for="photo">Photo:</label></div>
        <div class="input input_big">
            <input name="photo" type="file" id="photo" />
            {{ forms.errors(form.errors.photo) }}
        </div>
    </div>
    <div class="form-global clearfix">
        <div class="label"><label>&nbsp;</label></div>
        <div class="left"><input type="submit" class="g-button g-button-submit modal-ajax-submit-rel" value="Add" /></div>
    </div>
</form>
<br />
<div class="info-blue">
    <p>Image with red border is the main image, click on "Set as main" to select another main image.</p>
</div>
<div class="clearfix">
{% for image in product.ProductMedia %}
    <div style="width:120px;height:90px;margin:10px;" class="left">
        <img src="{{image.dir}}/thumb120x67/{{image.file_name}}_{{image.id}}.{{image.ext}}" width="120" height="67" style="border:2px solid {% if image.main == 1 %}red{% else %}#cacaca{% endif %};padding:1px;" />
        <a href="{{router.url_for('@manageUsersActions?id='~userId~'&tab=products&prod_id='~product.id~'&ac=gallery&subac=main&pic_id='~image.id)}}" class="modal-ajax-link-rel" rel="{{router.url_for('@manageUsersActions?id='~userId~'&tab=products&page='~page~'')}}">Set as main</a> | <a href="{{router.url_for('@manageUsersActions?id='~userId~'&tab=products&prod_id='~product.id~'&ac=gallery&subac=delete&pic_id='~image.id)}}" class="modal-ajax-link-rel" rel="{{router.url_for('@manageUsersActions?id='~userId~'&tab=products&page='~page~'')}}">Delete</a>
    </div>
{% else %}
        No image
{% endfor %}
</div>
{% endblock content %}